@import 'tailwindcss';
@tailwind utilities;


@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}


*,
*::before,
*::after{
  @apply m-0 p-0 box-border;
  font-family: Arial, sans-serif;
}

/* color palette */
.piji-green {
  background-color: rgb(120, 193, 147); 
}

.piji-green-2 {
  background-color: rgb(189, 217, 198 ); 
}

.piji-gradient {
    background: linear-gradient(to bottom right, #fef3c7, #eff6ff, #d1fae5); 
}

/*  */
.piji-brown {
  background-color: rgb(228, 202, 165); 
}

.piji-blue {
  background-color: rgb(63, 118, 168); 
}

.piji-red {
  background-color: rgb(167, 96, 84); 
}

.piji-green-3 {
  background-color: rgb(62, 119, 67); 
}
/*  */

.piji-cyan-1 {
  background-color: rgb(51, 204, 204);
}

.piji-orange-1 {
  background-color: rgb(255, 102, 102);
}

.piji-green-1 {
  background-color: rgb(255, 204, 0);
}


/* color palette   */
.main-bg {
  height: 100vh;
  margin: 0;
  animation: gradientShift 10s ease infinite;
  background: linear-gradient(-45deg, #fef3c7, #eff6ff, #d1fae5, #fef3c7);
  background-size: 300% 300%;
}

/* Animate the background gradient */
@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
